@model System.ComponentModel.DataEntity

@{
    var info = Model.GetInfo();

    ViewData["Title"] = $"{Model.Id} - Detalhar - {info.PluralName}";
}

<h1>Detalhar @info.SingleName</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>@info.AreaName</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">@info.PluralName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhar @Model.Id</li>
    </ol>
</nav>

<div class="container">
    <h5>@info.SingleName @Model.Id</h5>

    <hr />

    <partial name="_@Model.GetTypeName()" model="Model" />

    <hr />

    @foreach (var childreenEntity in info.ChildEntities)
    {
        <partial name="_@childreenEntity" model="Model" />
    }

    @*
        <h2>Modelo</h2>

        <div class="container">
        <h5>Modelo @Model.Id</h5>

        <hr />

        <partial name="_Item" model="Model.Modelo" />

        <p>
        <a asp-controller="Modelos" asp-action="Detalhar" asp-route-id="@Model.Id">Detalhar&nbsp;<i class="bi bi-link-45deg"></i></a>&nbsp;
        <a asp-controller="Modelos" asp-action="Editar" asp-route-id="@Model.Id">Editar&nbsp;<i class="bi bi-pencil"></i></a>&nbsp;
        <a asp-controller="Modelos" asp-action="Excluir" asp-route-id="@Model.Id">Excluir&nbsp;<i class="bi bi-trash"></i></a>
        </p>

        <hr />

        <h7>Não há mais detalhes deste item</h7>
        </div>
    *@

    <hr />

    <h7>Não há mais detalhes deste item</h7>
</div>
