@model System.ComponentModel.DataEntity

@{
    var info = Model.GetInfo();

    ViewData["Title"] = $"Editar {Model.Id} - {info.SingleName}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>@info.AreaName</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">@info.SingleName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar @Model.Id</li>
    </ol>
</nav>

<h1>Editar @info.SingleName</h1>

<div class="container">
    @*<h5>@info.SingleName @Model.Id</h5>*@

    <form asp-action="Editar">
        <partial name="_Form" model="Model" />

        <input type="hidden" asp-for="Id" />

        <p>
            <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i>&nbsp;Salvar</button>&nbsp;
            <a asp-action="Detalhar" asp-route-id="@Model.Id">Detalhar&nbsp;<i class="bi bi-link-45deg"></i></a>
            <a asp-action="Excluir" asp-route-id="@Model.Id">Excluir&nbsp;<i class="bi bi-trash"></i></a>
        </p>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
