@model System.ComponentModel.DataEntity

@{
    var info = Model.GetInfo();

    ViewData["Title"] = $"{Model.Id} - Editar - {info.PluralName}";
}

<h1>Editar @info.SingleName</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>@info.AreaName</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">@info.PluralName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar @Model.Id</li>
    </ol>
</nav>

<div class="container">
    <h5>@info.SingleName @Model.Id</h5>

    <hr />

    <form asp-action="Editar">
        <partial name="_Form" model="Model" />

        <input type="hidden" asp-for="Id" />

        <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i>&nbsp;Salvar</button>&nbsp;
        <a asp-action="Detalhar" asp-route-id="@Model.Id">Detalhar&nbsp;<i class="bi bi-link-45deg"></i></a>
        <a asp-action="Excluir" asp-route-id="@Model.Id">Excluir&nbsp;<i class="bi bi-trash"></i></a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
