@model System.ComponentModel.DataEntity

@{
    var info = Model.GetInfo();

    ViewData["Title"] = $"Excluir {Model.Id} - {info.SingleName}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>@info.AreaName</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">@info.SingleName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Excluir @Model.Id</li>
    </ol>
</nav>

<h1>Excluir @info.SingleName?</h1>

<div class="container">
    @*<h5>@info.SingleName @Model.Id</h5>*@

    <partial name="Data/_@Model.GetTypeName()" model="Model" />

    <form asp-action="Excluir">
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-exclamation-triangle"></i>&nbsp;Confirmar Exclusão
        </button>
    </form>
</div>
