@model Ateliex.Areas.Cadastro.Models.ModeloRecurso

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Modelo)
    </dt>
    <dd class="col-sm-9">
        <a asp-area="Cadastro" asp-controller="Modelos" asp-action="Detalhar" asp-route-id="@Model.ModeloId">
            @Html.DisplayFor(model => model.Modelo.Nome)
            <i class="bi bi-link-45deg"></i>
        </a>
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Tipo)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Tipo.Nome)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Descricao)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Descricao)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Custo)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Custo)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Unidades)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Unidades)
    </dd>
</dl>

<p>
    <a asp-area="Cadastro" asp-controller="ModeloRecursos" asp-action="Editar" asp-route-id="@Model.Id">Editar&nbsp;<i class="bi bi-pencil"></i></a>&nbsp;
    <a asp-area="Cadastro" asp-controller="ModeloRecursos" asp-action="Excluir" asp-route-id="@Model.Id">Excluir&nbsp;<i class="bi bi-trash"></i></a>
</p>
