@model Ateliex.Areas.Cadastro.Models.ModeloRecurso

@{
    int? modeloId = (int?)ViewData["modeloId"];

    int? tipoId = (int?)ViewData["tipoId"];
}

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Id)
    </dd>
    @if (modeloId.HasValue == false)
    {
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-9">
            <a asp-area="Cadastro" asp-controller="Modelo" asp-action="Detalhar" asp-route-id="@Model.ModeloId">
                @Html.DisplayFor(model => model.Modelo.Nome)
                <i class="bi bi-link-45deg"></i>
            </a>
        </dd>
    }
    @if (tipoId.HasValue == false)
    {
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Tipo)
    </dt>
    <dd class="col-sm-9">
        <a asp-area="Cadastro" asp-controller="ModeloRecursoTipo" asp-action="Detalhar" asp-route-id="@Model.TipoId">
            @Html.DisplayFor(model => model.Tipo.Nome)
            <i class="bi bi-link-45deg"></i>
        </a>
    </dd>
    }
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Descricao)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Descricao)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Custo)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Custo)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Unidades)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Unidades)
    </dd>
</dl>
