@model Ateliex.Areas.Cadastro.Models.Modelo

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Codigo)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Codigo)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Nome)
    </dt>
    <dd class="col-sm-9">
        <a asp-action="Detalhar" asp-route-id="@Model.Codigo">
            @Html.DisplayFor(model => model.Nome)
            <i class="bi bi-link-45deg"></i>
        </a>
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.CustoDeProducao)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.CustoDeProducao)
    </dd>
</dl>
