@model IEnumerable<Ateliex.Areas.Cadastro.Models.Recurso>

<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Custo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidades)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-action="RecursosItem" asp-route-codigo="@item.ModeloCodigo" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidades)
            </td>
            <td>
                <a asp-action="RecursosEdicao" asp-route-codigo="@item.ModeloCodigo" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="RecursosExclusao" asp-route-codigo="@item.ModeloCodigo" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
    }
</tbody>
