@model Ateliex.Areas.Cadastro.Models.Recurso

@{
    ViewData["Title"] = $"Novo - Recursos - {Model.ModeloCodigo} - Modelos";
}

<h1>Criar Recurso de Modelo</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Cadastro</a></li>
        <li class="breadcrumb-item"><a asp-area="Cadastro" asp-controller="Modelos" asp-action="Index">Modelos</a></li>
        <li class="breadcrumb-item"><a asp-area="Cadastro" asp-controller="Modelos" asp-action="Detalhar" asp-route-id="@Model.ModeloCodigo">@Model.ModeloCodigo</a></li>
        <li class="breadcrumb-item"><a>Recursos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Novo</li>
    </ol>
</nav>

<div class="container">
    <h5>Modelo @Model.ModeloCodigo</h5>

    <hr />

    <partial name="_Item" model="Model.Modelo" />

    <div>
        <a asp-action="Editar" asp-route-id="@Model.ModeloCodigo">Editar</a> |
        <a asp-action="Excluir" asp-route-id="@Model.ModeloCodigo">Excluir</a>
    </div>

    <hr />

    <h2>Recursos</h2>

    <div class="container">
        <h5>Novo</h5>

        <hr />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="CriarRecurso">
                    <partial name="_FormRecurso" model="Model" />

                    <div class="form-group">
                        <input type="submit" value="Criar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
