@model Ateliex.Areas.Cadastro.Models.Recurso

@{
    ViewData["Title"] = $"Item - {Model.Id} - Recursos - {Model.ModeloCodigo} - Modelos";
}

<h1>Modelos</h1>

<div>
    <h4>@Model.ModeloCodigo</h4>

    <hr />

    <partial name="_Item" model="Model.Modelo" />

    <div>
        <a asp-action="Editar" asp-route-id="@Model.ModeloCodigo">Editar</a> |
        <a asp-action="Excluir" asp-route-id="@Model.ModeloCodigo">Excluir</a>
    </div>

    <hr />

    <h2>Recursos</h2>

    <div>
        <h4>Item - @Model.Id</h4>

        <hr />

        <partial name="_ItemRecurso" model="Model" />

        <div>
            <a asp-action="EditarRecurso" asp-route-id="@Model.GetId()">Editar</a> |
            <a asp-action="ExcluirRecurso" asp-route-id="@Model.GetId()">Excluir</a>
        </div>

        <hr />

        <h7>Não há mais detalhes deste item</h7>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>
